In [1]:
name='samba'
gender='male'
location='hyderabad'
print('Person name is',name)
print('person gender is',gender)
print('person location is',location)

Person name is samba
person gender is male
person location is hyderabad

In [3]:
print('person name is ',name,', gender is',gender,'and location is',location)

person name is  samba , gender is male and location is hyderabad

In [4]:
a='sambasiva'
a[1]

'a'

In [5]:
a[-1]

'a'

In [6]:
a[::-1]

'avisabmas'

In [7]:
a[1:-1]

'ambasiv'

In [10]:
a='accounts-01-10-2022.csv'
a

'accounts-01-10-2022.csv'

In [12]:
type(a)

str

In [15]:
a.split()

['accounts-01-10-2022.csv']

In [16]:
type(a)

str

In [17]:
a='samba'
b='siva'
print(a+b)

sambasiva

In [18]:
res=a+b
res

'sambasiva'

In [19]:
print(res.upper())

SAMBASIVA

In [20]:
a='sambasiva'
a[1]

'a'

In [21]:
a[1]='f'

TypeError: 'str' object does not support item assignment

In [22]:
lst=[1,2,'samba',True]
lst

[1, 2, 'samba', True]

In [23]:
lst[1]

2

In [25]:
lst[1]=4
lst

[1, 4, 'samba', True]

In [26]:
lst.append('siva')
lst

[1, 4, 'samba', True, 'siva']

In [27]:
lst.pop()
lst

[1, 4, 'samba', True]

In [28]:
lst=[10,20,30,40]
lst

[10, 20, 30, 40]

In [30]:
p_name=input('enter product name')
p_price=input('enter product price')
res=[]
res.append(p_name)
res.append(p_price)
print('product details:\n',res)

enter product namemobile
enter product price1000
product details:
 ['mobile', '1000']

In [34]:
p_fname=input('enter player first name')
p_lname=input('enter player last name')
p_gen=input('enter player gender')
p_loc=input('enter player location')

res=[]
res.append((p_fname+p_lname).upper())
res.append(p_gen.upper())
res.append(p_loc)
res

enter player first namesamba
enter player last namesiva
enter player gendermale
enter player locationhyderabad

['SAMBASIVA', 'MALE', 'hyderabad']

In [36]:
t=(1,4,2,6,8)
type(t)
t

(1, 4, 2, 6, 8)

In [37]:
t[1]

4

In [38]:
range(3)

range(0, 3)

In [41]:
for i in range(4):
    #print(i)
    print(i*i)

0
1
4

In [45]:
st='samba'
for x in st:
    print(x)

s
a
m
b
a

In [78]:
n=int(input('enter number of persons'))
final_res=[]
for i in range(n):
    fname=input('enter your first name\n')
    lname=input('enter your last name\n')
    loc=input('enter your location\n')
    
    l=int(input('enter numebr of know languages'))
    lan=[]
    for x in range(l):
        lang=input('enter known language')
        lan.append(lang)
    res=[]
    res.append((fname+lname).upper())
    res.append(loc.upper())
    res.append(lan)
    final_res.append(res)
print('All persons details are:',final_res)

enter number of persons2
enter your first name
samba
enter your last name
siva
enter your location
hyd
enter numebr of know languages2
enter known languagetelugu
enter known languagehindi
enter your first name
sai
enter your last name
ram
enter your location
hyd
enter numebr of know languages3
enter known languageenglish
enter known languagehindi
enter known languagetelugu
All persons details are: [['SAMBASIVA', 'HYD', ['telugu', 'hindi']], ['SAIRAM', 'HYD', ['english', 'hindi', 'telugu']]]

In [79]:
s={1,2,3,10,27,5,8}
s

{1, 2, 3, 5, 8, 10, 27}

In [80]:
s={1,2,3,3,5,10,27,5,8}
s

{1, 2, 3, 5, 8, 10, 27}

In [83]:
s.add(12)
s

{1, 2, 3, 5, 8, 10, 12, 27}

In [81]:
ls=[1,1,2,2,3,3,9,4,4]
ls

[1, 1, 2, 2, 3, 3, 9, 4, 4]

In [85]:
a=10,
type(a)

tuple

In [86]:
a=(1,2,3,4)
type(a)

tuple

In [111]:
dc={'id':100,'name':'samba'}
dc['id']

100

In [118]:
mt_price={
        'tomoto':40,
        'potato':50,
        'carrot':60
            }
item_name=input('enter item name')
item_price=mt_price[item_name]
item_qty=int(input('Enter item quantity\n'))
print('Purchase detail:')
print('Item\t: ',item_name)
print('Quantity\t: ',item_qty)
print('Item Price\t: ',item_price)
print('Total\t:',item_price*item_qty)

enter item namecarrot
Enter item quantity
3
Purchase detail:
Item	:  carrot
Quantity	:  3
Item Price	:  60
Total	: 180

mt_price={
        'tomoto':40,
        'potato':50,
        'carrot':60
            }
n=int(input('enter number items\n'))
total_items=[]
for item in range(n):
    item_name=input('enter item name')
    item_price=mt_price[item_name]
    item_qty=int(input('Enter item quantity\n'))
    item_dtl=[]
    item_dtl.append(item_name)
    
    item_dtl.append(item_price)
    
    item_dtl.append(item_price)
    item_dtl.append(item_price*item_qty)
total_items.append(item_dtl)
print('Item Details : ',total_items)

In [125]:
mt_price={ 'tomoto':40, 'potato':50, 'carrot':60 } 
n=int(input('enter number items\n')) 
total_items=[] 
for item in range(n): 
    item_name=input('enter item name') 
    item_price=mt_price[item_name] 
    item_qty=int(input('Enter item quantity\n')) 
    item_dtl=[] 
    item_dtl.append(item_name)
    item_dtl.append(item_price)

    item_dtl.append(item_price)
    item_dtl.append(item_price*item_qty)
    total_items.append(item_dtl) 
print('Item Details : ',total_items)

enter number items
2
enter item namepotato
Enter item quantity
2
enter item namecarrot
Enter item quantity
3
Item Details :  [['potato', 50, 50, 100], ['carrot', 60, 60, 180]]

In [128]:
#registration
nm=input('enter your name\n')
loc=input('enter your location\n')
pin=input('enter your PINCODE\n')
reg={}
reg['NAME']=nm.upper()
reg['LOCATON']=loc.upper()
reg['PINCODE']=pin
print('Registration Details:\n', reg)

enter your name
samba
enter your location
hyd
enter your PINCODE
500001
Registration Details:
 {'NAME': 'SAMBA', 'LOCATON': 'HYD', 'PINCODE': '500001'}

In [129]:
a=10
a+=1
a

11

In [130]:
a*=2
a

22

In [131]:
print(-a)

-22

In [132]:
a=10
b=20
print(a==b)

False

In [133]:
print(a!=b)

True

In [134]:
a<b

True

In [135]:
c=30
c

30

In [137]:
print(a>b and a<c)

False

In [138]:
print(a<b and a<c)

True

In [139]:
print(not a>b)

True

In [140]:
a='samba'
a

'samba'

In [144]:
print('m' in a)

True

In [146]:
print('M' in a)

False

In [147]:
print('M' not in a)

True

In [148]:
str=[10.5,'samba',30]
str

[10.5, 'samba', 30]

In [149]:
print(10.5 in str)

True

In [150]:
print('samba'in str)

True

In [159]:
a=20
b=20
print(a|b)

20

In [163]:
a=int(input('enter a number'))
if a>0:
    print('positive numer')
else:
    print('negative number')

enter a number10
positive numer

In [164]:
a=int(input('enter a number'))
if a>0:
    print('positive numer')
else:
    print('negative number')

enter a number-10
negative number

In [166]:
a=int(input('enter a value: '))
b=int(input('enter b value: '))
if a<b:
    print('b is big' )
elif a>b:
    print('a is big')
else:
    print('a is eual to b')

enter a value: 10
enter b value: 30
b is big

In [168]:
cities=['hyderbad','mumbai','chennai']
city=input('enter city name\n')
if city in cities:
    print('city found')
else:
    print('city not found')

enter city name
mumbai
city found

In [171]:
a=int(input('enter a number'))
if a%2==0:
    print('Number is even')
else:
    print('Number is odd')

enter a number11
Number is odd

In [ ]:
ls=[0,1]
value=0
i=3
while i < 10 :
    value=ls[i-2+ls[i-3]
    ls.append(value)
    i+=1
print(ls)

In [ ]:
ls=[0,1]
i=3
while i < 10 :
    value=ls[i-2+ls[i-3]
    ls.append(value)
    i=i+1
             
print(ls)

In [ ]:
ls=[0,1]
i=3
while i < 10 :
    value=ls[i-2]+ls[i-3]
    ls.append(value)
    i=i+1
             
print(ls)

In [ ]:
ls=[0,1]
print(ls)